{% extends 'layout.html' %}


{% block head %}
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{% endblock %}

{% block content %}
    <div class='paste-styled'>
        <div id='admin-view' class='control-panel'>
            <div class='control-panel-menu'>
                <ul>
                    <li><a href='/admin/pages'><i class='material-icons'>note</i>Pages</a></li>
                    <li><a href='/admin/settings'><i class='material-icons'>settings</i>Settings</a></li>
                    <li><a href='/logout'><i class='material-icons'>power_settings_new</i>Logout</a></li>
                </ul>
            </div>
            <div class='control-panel-pane default-content'>
                {% block pane %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
