{% extends 'admin/admin_layout.html' %}


{% block pane %}
    <form method='POST' class='form' enctype='multipart/form-data'>
        <label for='upload_file'>
            <input type='file' name='upload_file' id='upload_file'>
            <input type='submit' name='upload' class='button button-primary' value='Upload'>
        </label>
    </form>
    <div class='media-gallery push-down'>
        {% for m in medias %}
            <div class='media-item'>
                <img src='/usercontent/{{ m.path }}'>
            </div>
        {% endfor %}
    </div>
{% endblock %}
