{% extends 'admin/admin_layout.html' %}


{% block pane %}
    <form method='POST' class='form'>
        <label for='page_template'>
            Page route:
            <input
            {% if page %}
                value='{{ page.page_route }}'
            {% endif %}
            type='text' name='page_route' id='page_route' placeholder='about'/>
        </label>
        <label for='page_template'>
            Page template:
            <select name='page_template' id='page_template'>
                {% for template in templates %}
                    <option
                    {% if page %}
                        {% if page.page_template == template %}
                            selected
                        {% endif %}
                    {% endif %}
                    value='{{ template }}'>{{ template }}</option>
                {% endfor %}
            </select>
        </label>
        <div class='push-down'>
            {% if page %}
                <a href='/{{ page.page_route }}' class='button button-primary'>Edit on site</a>
            {% endif %}
            <input class='button button-ok' type='submit' name='page_create' value='Save'/>
        </div>
    </form>
{% endblock %}
