{% extends 'admin/admin_layout.html' %}


{% block pane %}
    <div class='section'>
        <a href='/admin/page/new' class='button button-primary'>New Page +</a>
    </div>
    <table class='table push-down'>
        <thead>
            <th>Route</th>
            <th>Template</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.page_route }}</td>
                    <td>{{ page.page_template }}</td>
                    <td><a class='button button-primary' href='/admin/page/{{ page._id }}'>Edit</a></td>
                    <td>
                        <form method='POST'>
                            <input type='hidden' name='page_id' value='{{ page._id }}'/>
                            <input
                            {% if page.page_route == 'INDEX' %}
                                disabled
                            {% endif %}
                            type='submit' name='delete' value='delete_forever' class='button button-warning material-icons'/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
