{% extends 'layout.html' %}


{% block head %}
    {{ super() }}

    <script type='text/javascript'
src='{{ url_for('static', filename='js/setup.js') }}'></script>
{% endblock %}

{% block content %}
    <div class='paste-styled'>
        <div class='step-by-step' id='setup'>

            <!-- 0 -->
            <div class='step-by-step-step split-h'>
                <div class='default-content push-down centered-content maximize-height'>
                    <h3>Hi!</h3>
                    <p>Welcome to paste-cms.</p>
                </div>
                <div class='step-by-step-stepper'>
                    <button class='button button-small button-small-primary material-icons animated pulse infinite' data-type='next'>keyboard_arrow_right</button>
                </div>
            </div>

            <!-- 1 -->
            <div class='step-by-step-step split-h'>
                <div class='default-content push-down centered-content maximize-height'>
                    <h3>Setup</h3>
                    <p>
                    Follow this guide, and we will get your website ready
                    for you,<br>
                    together.
                    </p>
                </div>
                <div class='step-by-step-stepper'>
                    <button class='button button-small button-small material-icons' data-type='prev'>keyboard_arrow_left</button>
                    <button class='button button-small button-small-primary material-icons animated pulse infinite' data-type='next'>keyboard_arrow_right</button>
                </div>
            </div>

            <!-- 2 -->
            <div class='step-by-step-step split-h' data-name='admin_form'>
                <div class='default-content push-down centered-content maximize-height'>
                    <h3>Administration</h3>
                    <p>
                    Tell us who will administrate this website.
                    </p>
                </div>
                <div class='default-content'>
                    <div class='form'>
                        <label for='admin_username'>
                            Username
                            <input type='text' name='admin_username' id='admin_username' placeholder='john.doe12'/>
                        </label>
                        <label for='admin_password'>
                            Password
                            <input type='password' name='admin_password' id='admin_password' placeholder='******'/>
                        </label>
                        <label for='admin_password_confirm'>
                            Confirm password 
                            <input type='password' name='admin_password_confirm' id='admin_password_confirm' placeholder='******'/>
                        </label>
                    </div>
                </div>
                <div class='step-by-step-stepper'>
                    <button class='button button-small button-small material-icons' data-type='prev'>keyboard_arrow_left</button>
                    <button class='button button-small button-small-primary material-icons animated pulse infinite' data-type='next'>keyboard_arrow_right</button>
                </div>
            </div>

            <!-- 3 -->
            <div class='step-by-step-step split-h'>
                <div class='default-content push-down centered-content maximize-height'>
                    <h3>Complete</h3>
                    <p>
                    You are done with the installation.<br>
                    </p>
                </div>
                <div class='step-by-step-stepper'>
                    <button class='button button-small button-small material-icons' data-type='prev'>keyboard_arrow_left</button>
                    <button class='button button-small button-small-primary material-icons animated pulse infinite' data-type='next'>keyboard_arrow_right</button>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        document.addEventListener('DOMContentLoaded', function(e) {
            window.setup = new Setup(document.getElementById('setup'));

            setup.next_step_action = function(step) {
                if (step.getAttribute('data-name') == 'admin_form') {
                    setup.db['admin'] = {};

                    var username = step.querySelector('#admin_username');
                    var password = step.querySelector('#admin_password');
                    var password_confirm = step.querySelector('#admin_password_confirm');

                    setup.db['admin']['username'] = username.value;
                    setup.db['admin']['password'] = password.value;
                    setup.db['admin']['password_confirm'] = password_confirm.value;

                    wpost('/api/install', JSON.stringify(setup.db), function(data) {
                        data = JSON.parse(data);

                        if ('error' in data) {
                            setup.previous_step();
                            setup.handle_error(data['error']);
                        }
                    })
                }

                return []; // ugly hack
            };

            setup.handle_error = function(error) {
                backdrop_error(error);
            };

            setup.handle_finish = function(step) {
                window.location.href = '/login';
            };
        
            setup.start();
        });
    </script>
{% endblock %}
