<!DOCTYPE html>
<html>
    <head>
        <link
	rel='stylesheet'
	type='text/css'
        href='{{ url_for('static', filename='css/style.css') }}'/>

        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script
        src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>

        <link
        rel="stylesheet"
        href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css"
        type="text/css"
        media="screen"
        charset="utf-8">

        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

        <link
        href="https://fonts.googleapis.com/css?family=Arimo:400,700"
        rel="stylesheet">
        
        {% block head %}
        {% endblock %}
        
	<meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <div class='backdrop' id='backdrop'></div>
        <div class='drop-menu' id='main-menu'>
            <ul>
                <li><a onclick='save_page();'>Save <i class='material-icons'>save</i></a></li>
                <li><a>Pages <i class='material-icons'>note</i></a></li>
                <li><a>Users <i class='material-icons'>people_outline</i></a></li>
                <li><a href='/admin'>Settings <i class='material-icons'>settings</i></a></li>
                <li><a href='/logout'>Logout <i class='material-icons'>power_settings_new</i></a></li>
            </ul>
            <div class='drop-menu-button'>
                <i class='material-icons'>menu</i>
            </div>
        </div>
        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

