@import 'mixins.scss';
@import 'variables.scss';


.paste-styled {
    h1, h2, h3, h4, h5, h6, p, a {
        @include set-font();
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }

    p, a {
        font-weight: 200;
    }

    .text-warning {
        color: $color_warning !important;
    }

    .text-ok {
        color: $color_ok !important;
    }

    .text-primary {
        color: $color_primary !important;
    }
}
