@import 'mixins.scss';
@import 'variables.scss';


.paste-styled {
    .control-panel {
        display: flex;
        flex-direction: row;
        min-height: 100vh;

        .control-panel-menu {
            width: 20%;
            border-right-color: lightgray;
            border-right-style: solid;
            border-right-width: 1px;

            ul {
                display: block;
                width: 100%;

                li {
                    display: block;
                    width: 100%;

                    a {
                        display: block;
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        box-sizing: border-box;
                        padding-left: 0.5rem;
                        color: black;
                        text-decoration: none;
                        @include set-font();
                        font-weight: 300;


                        .material-icons {
                            vertical-align: middle;
                            color: black;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }

        .control-panel-pane {
            flex: 1;
        }
    }

    .split-h {
        display: flex;
        flex-direction: column;
    }

    .step-by-step {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .step-by-step-step {
            width: 640px;
            min-height: 300px;
            border-radius: 8px;
            border-color: lightgray;
            border-width: 1px;
            border-style: solid;
            height: 100%;

            &[data-active='0'] {
                opacity: 0;
                display: none;
            }

            .default-content {
                height: 100%;
                flex: 1;
            }

            label, h1, h2, h3, h4, h5, h6 {
                color: $color_primary;
            }

            .step-by-step-stepper {
                width: 100%;
                height: 92px;
                line-height: 92px;
                text-align: center;

                button {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }

    }
}
